body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    transition: color 0.3s;
}

nav ul li a.active {
    color: #3E51FF;
    font-weight: 700;
}

.btn-get-started {
    background-color: #3E51FF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-get-started:hover {
    background-color: #0056ff;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.left-side {
    max-width: 50%;
}

.left-side h2 {
    color: #8E99C2;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: -10px;
}

.left-side h1 {
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

.left-side h1 span {
    color: #0056ff;
}

form {
    display: flex;
    margin-top: 20px;
}

form input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
    flex: 1;
    font-family: 'Inter', sans-serif;
    transition: border-color 0.3s;
}

form input[type="email"]:hover {
    border-color: #0056ff;
}

form button {
    background-color: #3E51FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056ff;
}

.right-side {
    position: relative;
    width: 50%;
}

.right-side canvas {
    width: 100%;
    height: auto;
}

.chart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 700;
    color: #000;
    font-family: 'Inter', sans-serif;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: grey;
    animation: moveLine 4s linear infinite;
}

.line.left {
    left: 10%;
    animation-delay: 0s;
}

.line.center {
    left: 50%;
    animation-delay: 1s;
}

.line.right {
    left: 90%;
    animation-delay: 2s;
}

@keyframes moveLine {
    from {
        top: 0%;
    }
    to {
        top: 100%;
    }
}
